  <!-- About -->
  <section class="about-us" id="about">
    <div class="container">
      <div class="about-content">
        <!-- Left Side: Image -->
        <div class="about-image">
          <img src="../../../assets/images/about-us.jpg" alt="About Us Image" />
        </div>

        <!-- Right Side: Text Content -->
        <div class="about-text">
          <h2 class="about-title">About Us</h2>
          <p class="about-description">
            Welcome to <strong>Tareeq Al majaz</strong>, your trusted
            delivery partner in the UAE. With over
            <strong>8 years of experience</strong>, we specialize in
            providing reliable, fast, and cost-effective delivery solutions
            that cater to the unique needs of businesses and individuals.
          </p>
          <p class="about-description">
            Since our inception, we have committed ourselves to excellence,
            ensuring that each parcel we handle is delivered
            <strong>safely, securely, and on time</strong>. We understand
            the fast-paced nature of life in the UAE, and we are dedicated
            to offering a delivery service that keeps up with your needs.
          </p>
          <p class="about-description">
            Whether you're sending a single package, managing regular
            shipments, or need customized logistics solutions, we have the
            expertise and technology to make it happen seamlessly. Our
            <strong
              >fleet of modern vehicles, experienced drivers, and dedicated
              customer support team</strong
            >
            ensure that your experience with us is smooth from start to
            finish.
          </p>
        </div>
      </div>
    </div>
  </section>