 <!-- locations-section -->
 <section class="locations-section" id="locationDropdown">
    <div class="container">
      <div class="locations-header">
        <span class="locations-header-icon">🚀</span>
        <h2>Anything. Anywhere. Anytime.</h2>
        <a href="#" class="deliver-btn">DELIVER NOW →</a>
      </div>
      <div class="locations-grid">
        <a href="" class="location-card">
          <div class="location-icon" style="background: #007bff"></div>
          <p>Dubai</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #0f0094"></div>
          <p>Abu Dhabi</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #007bff"></div>
          <p>Sharjah</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #0f0094"></div>
          <p>Ajman</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #007bff"></div>
          <p>Umm Al Quwain</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #0f0094"></div>
          <p>Fujairah</p>
        </a>
        <a href="" class="location-card">
          <div class="location-icon" style="background: #007bff"></div>
          <p>Ras Al Khaimah</p>
        </a>
      </div>
    </div>
  </section>