@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
/* Root Variables */
:root {
  --primary-color: #435ebe;
  --hover-color: #3950a2;
  --white-color: #ffffff;
  --text-color: #000000;
  --dropdown-hover: #f7f7f7;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
}

/* /////////////////////////////////////////////////////////////  General Styles   */

.text-white {
  color: var(--white-color) !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


router-outlet {
  display: block;
  padding-top: 35px; 
}

html,
body {
  height: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.6;
  color: #1e293b;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-speed) ease-in-out;
}

/* /////////////////////////////////////////////////////////////  Navbar  */
.navbar {
   height: 70px;
  box-shadow: 0 4px 6px var(--shadow-color);
  background-color: var(--white-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-nav .nav-link {
  color: var(--primary-color) !important;
  font-size: 16px;
  padding: 5px 15px;
  margin: 0 15px;
  transition: all var(--transition-speed) ease-in-out;
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}
/* Enable smooth dropdown animation */
.dropdown-menu {
  background-color: var(--white-color);
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px var(--shadow-color);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity var(--transition-speed), transform var(--transition-speed);
}

/* Show on hover or click */
.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Dropdown item styles */
.dropdown-item {
  color: var(--text-color) !important;
  font-size: 1rem;
  padding: 5px 10px;
  transition: background var(--transition-speed);
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover);
  color: var(--primary-color) !important;
}

.navbar-text {
  float: inline-end;
}
.navbar-text a {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.navbar-text a:hover {
  border: 1px solid var(--hover-color);
  background-color: var(--hover-color);
  color: var(--white-color);
}
.close-btn {
  display: none;
}
.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* /////////////////////////////////////////////////////////////  Carasoul  */
.carousel-item {
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.27);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: fit-content;
}

.carousel-caption h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
  font-weight: 400px;
}
.carousel-item img {
  width: 100%;
  height: 800px;
}

/* /////////////////////////////////////////////////////////////  Pickup & Delivery Section  */

.pickup-delivery,
.cost-effective,
.slider-container,
.about-us,
.contact-us {
  padding: 70px 0;
  background: var(--background-color);
}

.pickup-content,
.cost-content,
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.pickup-text,
.cost-text {
  flex: 1;
  max-width: 600px;
}

.pickup-text h2,
.cost-text h2,
.services-heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.pickup-text p,
.cost-text p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 10px;
}

.pickup-buttons {
  margin-top: 20px;
}

.pickup-buttons .btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all var(--transition-speed);
}

.btn-primary {
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.btn-primary:hover {
  background: var(--hover-color);
}

.btn-whatsapp {
  background: #075e54;
  color: var(--white-color);
  margin-left: 15px;
}
.btn-whatsapp:hover {
  background: #128c7e;
}

.pickup-image,
.cost-image {
  flex: 1;
  text-align: right;
}
.pickup-image,
.cost-image {
  overflow: hidden;
  border-radius: 10px;
}

.pickup-image img,
.cost-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: all var(--transition-speed);
}
.pickup-image img:hover,
.cost-image img:hover,
.about-image:hover img,
.contact-image:hover img {
  transform: scale(1.05);
}

/* /////////////////////////////////////////////////////////////  Cost-Effective Delivery Section   */

.cost-list {
  list-style: none;
  padding: 0;
  text-align: left !important;
  margin: 0;
}

.cost-list li {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cost-list i {
  font-size: 20px;
  color: var(--primary-color);
}

/* /////////////////////////////////////////////////////////////  services  */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.service {
  flex: 0 0 30%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white-color);
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.service[data-id="1"] {
  background: #0f0094;
}
.service[data-id="2"] {
  background: #ff538b;
}
.service[data-id="3"] {
  background: #faca12;
}
.service.active {
  flex: 0 0 40%;
  height: 280px;
  opacity: 1;
  transform: scale(1.1);
  position: relative;
}

.service-number {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 50px;
  opacity: 0.5;
}

.service.active .service-number {
  font-size: 100px;
  opacity: 1;
  top: -30px;
  left: 30px;
}

.service-title {
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}

.service.active .service-title {
  font-size: 26px;
}

.service-content {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 60%;
  width: 100%;
}

.service.active .service-content {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

.service-icon {
  font-size: 30px;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.service.active .service-icon {
  display: block;
}

/* /////////////////////////////////////////////////////////////  about us  */

.about-image {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

.about-image img,
.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.about-text {
  flex: 1;
}

.about-title,
.why-section-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.6;
}
/* ///////////////////////////////////////////////////////////// locations-section  */
.locations-section {
  background: linear-gradient(to right, #eef7ff, #e0f2fe);
  padding: 50px 0;
  text-align: center;
  border-radius: 15px;
}

.locations-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.locations-header h2 {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary-color);
}

.locations-header-icon {
  font-size: 30px;
}

.deliver-btn {
  background: var(--white-color);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.deliver-btn:hover {
  background: var(--hover-color);
  color: var(--white-color);
}

.locations-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 140px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.location-card:hover {
  transform: scale(1.1);
}

.location-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
}

.location-card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #002855;
}

/* /////////////////////////////////////////////////////////////  contatc us  */

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
}
.contact-form {
  flex: 1;
  background: var(--white-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.contact-subtitle {
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  gap: 10px;
  background: var(--background-color);
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.input-group i {
  font-size: 20px;
  color: var(--primary-color);
}

.input-group input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: var(--text-color);
}

.input-group input::placeholder {
  color: #888;
}

.recaptcha-text {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.recaptcha-text a {
  color: var(--primary-color);
  text-decoration: none;
}
.btn-send {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white-color);
  background: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: block;
  margin-top: 15px;
}

.btn-send:hover {
  background: var(--hover-color);
}

.contact-image {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

/* /////////////////////////////////////////////////////////////  why us */

.why-choose-us {
  padding: 20px 0 80px;
  background: var(--background-color);
  text-align: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 40px;
}

.feature-box {
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px var(--shadow-color);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px var(--shadow-color);
}

.icon-box {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--white-color);
  margin: 0 auto 15px;
}

.feature-box h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 14px;
  color: #555;
}

.thank-you {
  font-size: 16px;
  margin-top: 40px;
  color: var(--text-color);
}
/* /////////////////////////////////////////////////////////////   footer */
.footer {
  background: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

/* Responsive Navbar Full Screen */

@media (max-width: 1200px) {
  .carousel-caption h3 {
    font-size: 2em;
  }

  .carousel-caption p {
    font-size: 14px;
  }
  .service-number {
    font-size: 30px;
  }

  .service.active .service-number {
    font-size: 80px;
    top: -10px;
  }
  .service-title {
    margin-top: 5px;
  }
  .service-title {
    font-size: 20px;
  }
  .about-description {
    font-size: 14px;
  }
  .features {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform var(--transition-speed);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 15px;
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    display: block;
  }

  .navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: opacity var(--transition-speed);
  }

  .navbar-overlay.active {
    display: block;
    opacity: 1;
  }
  .carousel-caption {
    padding: 10px;
    width: 80%;
    top: 70%;
  }
  .carousel-caption h3 {
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  .carousel-caption p {
    font-size: 12px;
  }
  .pickup-delivery,
  .cost-effective,
  .slider-container,
  .about-us,
  .contact-us {
    padding: 60px 0;
  }

  .pickup-content {
    gap: 10px;
  }

  .pickup-text h2,
  .cost-text h2,
  .services-heading {
    margin-bottom: 10px;
  }
  .pickup-text p,
  .cost-text p {
    font-size: 14px;
    line-height: 1.4;
  }
  .cost-content {
    flex-direction: column-reverse;
    padding: 0 !important;
    gap: 0px !important;
  }

  .cost-image {
    display: none;
  }

  .service {
    height: 160px;
    padding: 10px;
  }

  .service.active {
    flex: 0 0 40%;
    height: 210px;
    opacity: 1;
    transform: scale(1.1);
    position: relative;
  }

  .service.active .service-number {
    font-size: 60px;
  }
  .service-title {
    font-size: 16px;
  }
  .service.active .service-title {
    font-size: 20px;
  }
  .service-icon {
    font-size: 30px;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  .about-description {
    font-size: 16px;
  }
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    max-width: 80%;
    margin-bottom: 20px;
  }
  .contact-content {
    flex-direction: column;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }

  .contact-image {
    max-width: 80%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 1.2em;
  }

  .carousel-caption p {
    font-size: 10px;
  }
  .carousel-item img {
    height: 400px;
  }
  .pickup-content,
  .cost-content,
  .about-content {
    flex-direction: column;
    text-align: center;
    gap: 20px !important;
  }
  .btn-whatsapp {
    margin-left: 0px;
  }
  .pickup-delivery,
  .cost-effective,
  .slider-container,
  .about-us,
  .contact-us {
    padding: 40px 0;
  }
  .pickup-image {
    text-align: center;
  }

  .pickup-buttons .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .slider {
    flex-direction: column;
    align-items: center;
  }

  .service {
    flex: 0 0 100%;
    width: 100% !important;
    height: 300px;
    display: none;
  }

  .service.active {
    display: flex;
    padding: 60px;
  }
  .service.active .service-title {
    font-size: 30px !important;
  }

  .service-icon {
    right: 10% !important;
  }
  .service.active .service-content {
    font-size: 14px;
  }
  .about-title,
  .why-section-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
  }

  .about-image {
    max-width: 100%;
  }
  .contact-title {
    font-size: 28px;
  }

  .contact-subtitle {
    font-size: 16px;
  }

  .input-group input {
    font-size: 14px;
  }

  .btn-send {
    font-size: 16px;
  }

  .contact-image {
    max-width: 100%;
  }
  .features {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .locations-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .locations-header-icon {
    display: none;
  }
}
@media (max-width: 575px) {
  .features {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 10px 20px;
  }
  .thank-you {
    font-size: 14px;
    margin: 40px 20px 0;
  }
  .contact-form {
    padding: 20px 10px;
  }
}
@media (max-width: 500px) {
  .service.active .service-number {
    font-size: 50px;
    top: 15px;
  }
  .service.active .service-title,
  .service-icon {
    font-size: 22px !important;
  }
  .input-group {
    padding: 7px 10px;
  }

  .input-group i {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .pickup-delivery,
  .cost-effective,
  .slider-container,
  .about-us,
  .contact-us {
    padding: 20px 0;
  }
  .pickup-text h2 {
    font-size: 24px;
  }
  .cost-text h2,
  .services-heading {
    font-size: 20px;
  }

  .pickup-text p,
  .cost-text p {
    font-size: 12px;
  }
  .service.active {
    display: flex;
    padding: 50px;
  }
  .service.active .service-number {
    font-size: 22px;
  }
  .service.active .service-title,
  .service-icon {
    font-size: 20px !important;
  }
}
